html,
body,
#cesiumContainer {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#timer{
  position: absolute;
  top: 10%;
  color: white;
  text-align: center;
  background: #09283a;
  opacity: 0.8 5;
  border-radius: 5%;
  padding: 2%;
  font-size: 1.5em;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}

body{
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow: hidden;
}
